In [1]:
#database connection
import pymongo
from pymongo import MongoClient
import pandas as pd
from datetime import datetime
from datetime import timedelta
import warnings
warnings.filterwarnings("ignore")
import numpy as np

/Users/gideon/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [2]:
def get_time_interval(date,n_minutes):
    #aggregation level, round to nearst n minutes
    #dt = datetime.strptime(date,'%Y-%m-%d %H:%M:%S')
    round_min = int(date.minute)//n_minutes*n_minutes
    dt = date.replace(minute=round_min, second=0, microsecond=0)
    return dt

#compute sentiment score
def format_time_zone(dt):
    if dt.dt.date < "2022-03-13":
        return dt-timedelta(hours = 5)
    else:
        return dt-timedelta(hours = 4)

In [3]:
def format_to_csv(keyword,aggregation_level):
    

    db = client[keyword]
    
    tweets = db["tweets"]

    price = db["price"]
    
    
    tweets_df = pd.DataFrame(list(tweets.find()))
    
    print(tweets_df.shape)
    tweets_df = tweets_df[['dt','favorite_cnt',"retweet_cnt",'text']]
    tweets_df['len'] = tweets_df['text'].apply(lambda x: len(x))
    tweets_df['$'] = tweets_df['text'].apply(lambda x: x.count("$"+keyword))
    tweets_df['link'] = tweets_df['text'].apply(lambda x: x.count("http"))
    
    #only keep tweets with one ticker, no link and sentiment score must not equal to zero
    tweets_df = tweets_df.loc[tweets_df['$'] == 1]
    #tweets_df = tweets_df.loc[tweets_df['link'] == 0]
    #tweets_df = tweets_df.loc[tweets_df['nltk_sentiment_score'] != 0]
    
    #add features
    

    
    
    tweets_df['round_dt'] = tweets_df['dt'].apply(lambda x: get_time_interval(x,aggregation_level))
    #tweets_df['sentiment_score'] = tweets_df['sentiment_score'].apply(lambda x:abs(x))
    print(tweets_df.shape)
    tweets_df = tweets_df.groupby(['round_dt']).agg({"retweet_cnt":["count","mean"],"favorite_cnt":["mean"],"len":["mean"]})

    

    
    
    
    price_df = pd.DataFrame(list(price.find()))
    price_df['round_dt'] = price_df['dt'].apply(lambda x: get_time_interval(x,aggregation_level))
    price_df['return'] = (price_df['close']-price_df['open'])/price_df['open']
    price_df.set_index("round_dt",inplace = True)
    
    price_df = price_df.groupby(['round_dt']).agg({"open":["first"],
                                    "close":['last'],
                                    "return":['std'],
                                    "high":["max"],
                                    "low":["min"],
                                    "volume":["sum"],
                                    "n":["sum"]
                                   })
    
    
    

    analysis_df = pd.merge(price_df,tweets_df,left_index = True,right_index=True,how = 'right')
    analysis_df = analysis_df.reset_index(level=0)
    
    
    
    
    analysis_df.fillna(0,inplace = True)
    
    #print(analysis_df.columns)
    analysis_df.columns = ['time_interval','open','close','volatility','high','low','volume','transaction_cnt',
                   'tweet_cnt',
                      'retweet_mean',                    'favorite_mean',
                          'length_mean']
    #print(analysis_df.columns)
    
    
    analysis_df['time_interval'].loc[analysis_df['time_interval'].dt.date < datetime.strptime("2022-03-13",'%Y-%m-%d').date()] = analysis_df['time_interval']-timedelta(hours = 5)
    analysis_df['time_interval'].loc[analysis_df['time_interval'].dt.date >= datetime.strptime("2022-03-13",'%Y-%m-%d').date()] = analysis_df['time_interval']-timedelta(hours = 4)

    
    #time section
    analysis_df['time_section'] = 'Non-Trading'
    
    analysis_df['time_section'].loc[(analysis_df['time_interval'].dt.hour >= 4) & (analysis_df['time_interval'].dt.time < datetime.strptime("09:30:00",'%H:%M:%S').time())] = "Premarket"
    analysis_df['time_section'].loc[(analysis_df['time_interval'].dt.time >= datetime.strptime("09:30:00",'%H:%M:%S').time()) & (analysis_df['time_interval'].dt.time < datetime.strptime("16:00:00",'%H:%M:%S').time())] = "Trading"
    analysis_df['time_section'].loc[(analysis_df['time_interval'].dt.time >= datetime.strptime("16:00:00",'%H:%M:%S').time()) & (analysis_df['time_interval'].dt.time < datetime.strptime("20:00:00",'%H:%M:%S').time())] = "Postmarket"
    
    
    #hour
    analysis_df['hour'] = analysis_df['time_interval'].dt.hour
    
    
    #special moment
    analysis_df['special'] = "N"
    analysis_df['special'].loc[analysis_df['time_interval'].dt.time == datetime.strptime("09:30:00",'%H:%M:%S').time()] = "Y"
    analysis_df['special'].loc[analysis_df['time_interval'].dt.time == datetime.strptime("04:00:00",'%H:%M:%S').time()] = "Y"
    analysis_df['special'].loc[analysis_df['time_interval'].dt.time == datetime.strptime("16:00:00",'%H:%M:%S').time()] = "Y"
    
    #
    analysis_df['is_weekend'] = 0
    analysis_df['is_weekend'].loc[analysis_df['time_interval'].dt.weekday>4] = 1
    
    
    #remove holiday
    analysis_df = analysis_df.loc[analysis_df['time_interval'].dt.date != datetime.strptime("2022-02-21",'%Y-%m-%d').date()]
    #remove weekends
    analysis_df = analysis_df.loc[analysis_df['is_weekend'] == 0]
    

    
    
    
    analysis_df['return'] = (analysis_df['close']-analysis_df['open'])/analysis_df['open']
    analysis_df['abs_return'] = abs(analysis_df['return'])
    
    
    
    analysis_df['pos_return'] = 0
    analysis_df['pos_return'].loc[analysis_df['return']>0] = 1
    
    
    
    
    analysis_df.to_csv(keyword+"_"+str(aggregation_level)+"_min.csv",index=False)

In [5]:
keyword = "TSLA"

client = pymongo.MongoClient("mongodb://pc:santaltandon@santal-shard-00-00.mkmre.mongodb.net:27017,santal-shard-00-01.mkmre.mongodb.net:27017,santal-shard-00-02.mkmre.mongodb.net:27017/myFirstDatabase?ssl=true&replicaSet=atlas-i3bugn-shard-0&authSource=admin&retryWrites=true&w=majority")

format_to_csv(keyword,30)

(1605, 5)
(1433, 8)

In [7]:
df = pd.read_csv("TSLA_30_min.csv")
df

,time_interval,open,close,volatility,high,low,volume,transaction_cnt,tweet_cnt,retweet_mean,favorite_mean,length_mean,time_section,hour,special,is_weekend,return,abs_return,pos_return
0,2022-02-14 00:00:00,0.00,0.00,0.000000,0.00,0.0000,0.0,0.0,31,0.709677,5.645161,167.677419,Non-Trading,0,N,0,NaN,NaN,0
1,2022-02-14 00:30:00,0.00,0.00,0.000000,0.00,0.0000,0.0,0.0,26,0.000000,0.538462,160.653846,Non-Trading,0,N,0,NaN,NaN,0
2,2022-02-14 01:00:00,0.00,0.00,0.000000,0.00,0.0000,0.0,0.0,32,1.062500,9.906250,181.375000,Non-Trading,1,N,0,NaN,NaN,0
3,2022-02-14 01:30:00,0.00,0.00,0.000000,0.00,0.0000,0.0,0.0,24,0.666667,22.291667,108.833333,Non-Trading,1,N,0,NaN,NaN,0
4,2022-02-14 02:00:00,0.00,0.00,0.000000,0.00,0.0000,0.0,0.0,16,1.250000,12.250000,184.875000,Non-Trading,2,N,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1139,2022-03-25 17:30:00,1010.37,1011.48,0.000101,1011.48,1010.2000,14648.0,789.0,43,2.209302,22.651163,169.093023,Postmarket,17,N,0,0.001099,0.001099,1
1140,2022-03-25 18:00:00,1010.60,1010.60,0.000132,1011.00,1010.4400,4176.0,92.0,59,0.711864,6.491525,149.830508,Postmarket,18,N,0,0.000000,0.000000,0
1141,2022-03-25 18:30:00,1010.60,1010.00,0.000203,1010.60,1009.5001,8607.0,181.0,70,0.757143,2.328571,146.557143,Postmarket,18,N,0,-0.000594,0.000594,0
1142,2022-03-25 19:00:00,1009.98,1010.36,0.000028,1010.36,1009.5700,5368.0,147.0,64,0.875000,5.593750,149.656250,Postmarket,19,N,0,0.000376,0.000376,1
1143,2022-03-25 19:30:00,1010.75,1011.15,0.000209,1011.75,1010.5000,15229.0,466.0,62,0.354839,0.677419,161.741935,Postmarket,19,N,0,0.000396,0.000396,1